html {
    background-color: black;
    user-select: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.section1 {
    background-image: url("./img/banner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px;
    text-align: center;
}

.section1 h1 {
    font-family: Arial;
    margin: 0;
    font-size: 60px;
    display: inline-block;
}

.section1 p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.section1 .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.section1 .social a {
    display: flex;
    align-items: center;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.section1 .social a p {
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

.section1 .social img {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.section1 .social img:hover {
    transform: scale(1.1);
}

.social .social-discord {
    background-color: #5865F2;
    border-radius: 20px;
    padding: 5px;
}

.social .social-github {
    background-color: #333;
    border-radius: 20px;
    padding: 5px;
}

.social .social-twitter {
    background-color: #1451B8;
    border-radius: 20px;
    padding: 5px;
}

.social .social-reddit {
    background-color: #FF4500;
    border-radius: 20px;
    padding: 5px;
}

.section2 {
    color: white;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section2 h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 0;
}

.project {
    background-color: #333;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-basis: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h2 {
    margin-top: 10px;
}

.project p {
    margin-top: 0px;
    margin-bottom: 10px;
}

.project img {
    width: 200px;
    /* Tamaño fijo */
    height: 200px;
    /* Tamaño fijo */
    object-fit: cover;
    /* Mantener proporción de la imagen */
    border-radius: 10px;
    /* Esquinas redondeadas */
    margin-top: 10px;
    margin-bottom: 5px;
}

.section3 {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .section1 {
        padding: 50px;
    }

    .section1 h1 {
        font-size: 40px;
    }

    .section1 .social {
        flex-direction: column;
        align-items: center;
    }

    .section1 .social a {
        margin: 10px 0;
    }

    .section2 {
        padding: 20px;
    }

    .project {
        flex-basis: 100%;
    }
}