html {
    background-color: black;
    user-select: none;
}

header {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #000000, #131313);
}

.section1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px 100px 50px 100px;
    text-align: center;
    margin-bottom: 0;
}

.section1 h1 {
    font-family: Arial;
    margin: 0;
    font-size: 60px;
    display: inline-block;
}

.section1 p {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.section1 .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.section1 .social a {
    align-items: center;
    margin: 10px;
    color: white;
    text-decoration: none;
}

.section1 .social a p {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

.section1 .social img {
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.section1 .social img:hover {
    transform: scale(1.25);
}

.social .social-discord {
    background-color: #5865F2;
    border-radius: 20px;
    padding: 5px;
}

.social .social-github {
    background-color: #333;
    border-radius: 20px;
    padding: 5px;
}

.social .social-twitter {
    background-color: #1451B8;
    border-radius: 20px;
    padding: 5px;
}

.social .social-reddit {
    background-color: #FF4500;
    border-radius: 20px;
    padding: 5px;
}

.section2 {
    margin-top: 0px;
    margin-bottom: 50px;
}

.section2 .imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.section2 .imagenes img {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

footer {
    color: white;
    text-align: center;
    padding: 20px;
    margin: 0px;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .section1 {
        padding: 20px;
    }

    .section1 h1 {
        font-size: 40px;
    }

    .section1 p {
        font-size: 20px;
    }

    .section1 .social {
        flex-wrap: wrap;
    }

    .section1 .social a {
        width: 30%; 
        margin: 10px 2.5%; 
    }

    .section2 .imagenes {
        flex-wrap: wrap;
    }

    .section2 .imagenes img {
        width: 30%; 
        height: auto;
        flex-basis: 30%;
        margin: 5px 2%; 
    }
}

@media (max-width: 480px) {
    .section1 h1 {
        font-size: 30px;
    }

    .section1 p {
        font-size: 18px;
    }

    .section1 {
        padding: 10px;
    }

    .section1 .social {
        flex-wrap: wrap;
    }

    .section1 .social a {
        width: 30%; 
        margin: 10px 2.5%; 
    }

    .section2 .imagenes {
        flex-wrap: wrap;
    }

    .section2 .imagenes img {
        width: 30%; 
        height: auto;
        flex-basis: 35%;
        margin: 5px 2%; 
    }
}