<header>
  <div class="logo">
    <img src="favicon.ico" alt="Logo" />
    <a routerLink="/" class="logo-text">SusoDiz</a>
  </div>
  <button class="menu-toggle" (click)="toggleMenu()">☰</button>
  <nav [class.open]="menuOpen">
    <a routerLink="/" routerLinkActive="active" (click)="toggleMenu()">Inicio</a>
    <a routerLink="/about" routerLinkActive="active" (click)="toggleMenu()">Sobre mí</a>
    <a routerLink="/projects" routerLinkActive="active" (click)="toggleMenu()">Proyectos</a>
  </nav>
</header>