<section class="about-container">
  <p>
    Soy 💻 <strong>Técnico Informático</strong> y 🌐 <strong>Desarrollador Web</strong>
  </p>
  <p>
    📚 A lo largo de mi formación, he creado una base sólida en el ámbito tecnológico, desarrollando un fuerte interés en resolver problemas y aportar soluciones prácticas en diversos entornos. 🛠️
  </p>
  <p>
    🌟 Me esfuerzo por mejorar constantemente mis habilidades, adaptándome a las necesidades de cada proyecto y colaborando en equipo, lo que me ha permitido crecer tanto a nivel personal como profesional. 🚀
  </p>
</section>
