.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh; // Cambiado a min-height para mayor seguridad
  padding: 20px;
  margin: 0 auto;
  color: #fff;
}

.about-container p {
  width: 60%;
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #e0e0e0;
}

.about-container p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .about-container {
    min-height: 100vh;
    padding: 40px;
  }

  .about-container p {
    font-size: 1.5rem;
    line-height: 1.6;
  }

  .about-container p:first-child {
    font-size: 2rem;
  }
}