<main>
    <section class="projects-grid">
        <article>
            <img src="assets/merequetenge.webp" alt="Merequetenge Bot">
            <h2>Merequetenge</h2>
            <p>
                Desde el meme hasta Discord. Un bot multifunciones para tu comunidad. Música, economía, información y
                mucho más.
            </p>
        </article>

        <article>
            <img src="assets/merequetenge-tts.webp" alt="Merequetenge TTS">
            <h2>Merequetenge TTS</h2>
            <p>
                El motivo de la existencia de Merequetenge. Convertir los mensajes de texto a voz en tiempo real cuando
                usar el
                micrófono no es posible. <small>(Próximamente de código abierto)</small>
            </p>
        </article>

        <article>
            <img src="assets/merequetenge-web.webp" alt="Merequetenge API">
            <h2>Merequetenge API</h2>
            <p>
                Simplemente un intento de crear una API de imágenes personalizadas para Merequetenge. Por ejemplo, para
                el
                sistema de bienvenidas. <small>(La retomaré algún día...) <small>(O la empezaré de
                        nuevo)</small></small>
            </p>
        </article>

        <a class="project-link" [routerLink]="['/projects/threshold-95']">
            <article>
                <img src="assets/merequetenge-web.webp" alt="Umbral del 95%">
                <h2>Umbral del 95%</h2>
                <p>Minijuego</p>
            </article>
        </a>
    </section>
</main>