html, body {
  height: 100%;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
}

footer {
  background-color: #1e1e1e; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 1rem 2rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: auto; /* Asegura que el footer se mantenga al final */

  p {
    margin: 0;
    font-size: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0;
    display: flex;
    justify-content: center;
    gap: 1.5rem;

    li {
      a {
        color: #00bcd4; /* Color de los enlaces */
        text-decoration: none;
        font-size: 0.9rem;
        transition: color 0.3s ease;

        &:hover {
          color: #fff; /* Cambia a blanco al pasar el ratón */
        }
      }
    }
  }

  @media (max-width: 768px) {
    ul {
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}