html, body {
  height: 100%;
  margin: 0;
}

body { font-family: Roboto, "Helvetica Neue", sans-serif; }

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

main {
  flex: 1; /* Hace que el contenido principal ocupe el espacio restante */
}
