<ng-container>
  <main class="page-transition">
    <section class="container">
      <div class="advertising">
        <div class="textBox">
          <h1 class="poppins-black">SusoDiz</h1>
          <p class="parrafo">{{ 'home.subtitle' | transloco }}</p>
          <section class="icons">
            <a href="https://github.com/SusoDiz" target="_blank" rel="noopener noreferrer" title="GitHub">
              <img src="/assets/icons/github.png" alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/susodiz" target="_blank" rel="noopener noreferrer" title="LinkedIn">
              <img src="/assets/icons/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com/suso.diz/" target="_blank" rel="noopener noreferrer" title="Instagram">
              <img src="/assets/icons/instagram.png" alt="Instagram">
            </a>
            <a href="https://www.threads.net/@susodiz" target="_blank" rel="noopener noreferrer" title="Threads">
              <img src="/assets/icons/threads.png" alt="Threads">
            </a>
            <a href="mailto:contacto@susodiz.com" rel="noopener noreferrer" title="Email">
              <img src="/assets/icons/email.png" alt="Email">
            </a>
          </section>
        </div>
      </div>
    </section>
  </main>
</ng-container>
