<div class="game-container">
    <h1>{{ 'threshold95.title' | transloco }}</h1>
    <p>{{ 'threshold95.loseProbability' | transloco }} {{ (loseProbability * 100).toFixed(2) }}%</p>
    <p>{{ 'threshold95.maxLoseProbability' | transloco }} {{ (maxLoseProbability * 100).toFixed(2) }}%</p>
    <p>{{ 'threshold95.roundsPlayed' | transloco }} {{ roundsPlayed }}</p>
  
    <!-- Contenedor fijo para el botón o mensaje -->
    <div class="button-container">
      <div *ngIf="clicksRemaining > 0; else gameOver">
        <button
          class="big-button"
          [ngStyle]="{ backgroundColor: getButtonColor() }"
          (click)="play()"
        >
          {{ clicksRemaining }}
        </button>
      </div>
      <ng-template #gameOver>
        <button class="small-button" (click)="resetGame()">{{ 'threshold95.playAgain' | transloco }}</button>
      </ng-template>
    </div>
    <p class="message">{{ message | transloco }}</p>
  </div>